@model MvcMovie.Models.StoreListModel

@{
    ViewData["Title"] = "Index";
}

<h1>Store Locations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stores[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Stores) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Inventory" asp-route-id="@item.Id">View Inventory</a> | 
                <a asp-action="StoreHist" asp-route-id="@item.Id">View Order History</a>
            </td>
        </tr>
}
    </tbody>
</table>
